# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Personal
*.one
*.tmp

# Ignore test and docs output
/tests/__pycache__/
/docs/__pycache__/
