{% extends 'base.html' %}

{% block title %}401 - Unauthorized{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <h1 class="display-1">401</h1>
                <p class="lead">Unauthorized</p>
                <p>Access to this resource is denied.</p>
                <a href="{{ url_for('routes.elpriser_view') }}">
                    <i class="fas fa-arrow-left me-1"></i>
                    Tillbaka till elpriser
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}