{% extends 'base.html' %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <img src="{{ url_for('static', filename='img/error-403.svg') }}" alt="403" style="max-width:200px;"/>
  <h1 class="mt-3">403 - Forbidden</h1>
  <p class="lead">You don't have permission to access this resource.</p>
  <p>If you believe this is an error, contact the site administrator.</p>
  <a href="{{ url_for('routes.get_example') if False else url_for('routes.elpriser_view') }}" class="btn btn-primary mt-3">Return home</a>
</div>
{% endblock %}
